{% extends 'skeleton.jinja2' %}
{% block body %}
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-lg sidebar px-3 px-lg-0 bg-black ml-lg-3">
        {% block navbar %}{% include 'navbar.jinja2' %}{% endblock navbar %}
      </div>
      <div class="col-lg main-content px-3 px-lg-0">
        {% block banner %}{% endblock banner %}
        {% block successful_flash %}{% endblock successful_flash %}
        {% block failed_flash %}{% endblock failed_flash %}
        <main id="main-content" tabindex="-1" aria-label="中央內容區塊">
          <a class="accesskey-marker" href="#main-content" accesskey="C" title="Alt+C：中央內容區塊，為本頁主要內容區。">:::</a>
          {% block content %}{% endblock content %}
        </main>
        {% block footer %}{% include 'footer.jinja2' %}{% endblock footer%}
      </div>
    </div>
  </div>
{% endblock body %}
