<!doctype html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block page_meta_description %}{% endblock page_meta_description %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'yascms:webroot/apple-touch-icon.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'yascms:webroot/favicon-32x32.png'|static_path }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'yascms:webroot/favicon-16x16.png'|static_path }}">
  <link rel="manifest" href="{{ 'yascms:webroot/site.webmanifest'|static_path }}">
  <link rel="stylesheet" href="{{ 'yascms:static/yascms2020/css/bootstrap-4.6.2.min.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'yascms:static/yascms2020/css/jquery.smartmenus.bootstrap-4-1.2.1.css'|static_path }}">
  <link rel="stylesheet" href="{{ 'yascms:static/yascms2020/css/common.css'|static_path  }}">
  {% block layout_css %}{% endblock layout_css %}
  {% block page_css %}{% endblock page_css %}
  <title>{% block page_title %}{{ request.site_config['site_name'] }}{% endblock page_title %}</title>
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{{ 'yascms:static/yascms2020/js/jquery-3.7.1.min.js'|static_path }}"></script>
  <script src="{{ 'yascms:static/yascms2020/js/bootstrap.bundle-4.6.2.min.js'|static_path }}"></script>
  {% block layout_js %}{% endblock layout_js %}
  {% block page_js %}{% endblock page_js %}
</body>
</html>
