{% extends 'layouts/master.jinja2' %}
{% from 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">好站連結</li>
          <li class="breadcrumb-item active" aria-current="page">好站連結列表</li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">好站連結列表</div>
        <div class="card-body">
          <a href="{{ request.route_url('backend_link_create') }}" class="btn btn-primary mb-3">建立好站連結</a>
          <div class="table-responsive">
            <table class="table table-hover table-striped text-center mb-0">
              <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">編號</th>
                <th scope="col" class="d-none d-md-table-cell">日期</th>
                <th scope="col" class="d-none d-md-table-cell">分類</th>
                <th scope="col" class="d-table-cell">標題</th>
                <th scope="col" class="d-none d-md-table-cell">群組</th>
                <th scope="col" class="d-table-cell">圖示</th>
                <th scope="col" class="d-table-cell">動作</th>
              </tr>
              </thead>
              <tbody>
              {% for each_link in link_list %}
                <tr>
                  <th scope="row" class="d-none d-md-table-cell">{{ loop.index + (page_number - 1) * quantity_per_page }}</th>
                  <td class="d-none d-md-table-cell">{{ each_link.publication_datetime }}</td>
                  <td class="d-none d-md-table-cell">{{ each_link.category.name }}</td>
                  <td class="d-table-cell"><a href="#">{% if each_link.is_pinned %}<i class="bi bi-pin" aria-hidden="true"></i><span class="sr-only">[置頂]</span> {% endif %}{{ each_link.title }}</a></td>
                  <td class="d-none d-md-table-cell"><a href="#">{{ each_link.group.name }}</a></td>
                  <td class="d-table-cell"><a href="{{ each_link.url }}"><img width="120" src="{{ request.static_path('yascms:uploads/links/' ~ each_link.icon) }}" alt="{{ each_link.title }}"></a></td>
                  <td class="d-table-cell">
                    {% if request.session['is_admin'] %}
                      <a class="btn btn-primary" href="{{ request.route_url('backend_link_edit', link_id=each_link.id) }}">編輯</a>
                      <a class="btn btn-danger" href="{{ request.route_url('backend_link_delete', link_id=each_link.id) }}">刪除</a>
                    {% else %}
                      {% if each_link.group.id in request.session['main_group_id_list'] %}
                        <a class="btn btn-primary" href="{{ request.route_url('backend_link_edit', link_id=each_link.id) }}">編輯</a>
                        <a class="btn btn-danger" href="{{ request.route_url('backend_link_delete', link_id=each_link.id) }}">刪除</a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {{ paginate("好站連結列表分頁", "backend_link_list", page_quantity_of_total_links, page_number, quantity_per_page) }}
          <a href="{{ request.route_url('backend_link_create') }}" class="btn btn-primary mt-3">建立好站連結</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item">好站連結</li>
          <li class="breadcrumb-item active" aria-current="page">好站連結列表</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
