{% macro generate_navbar_trees(name, navbar_trees, use_link=True, show_root=False) %}
  <ul class="list-group" id="root-navbar" data-name="{{ name }}">
  <li class="list-group-item" data-value="{{ navbar_trees.id }}">{{ navbar_trees.name }}
  {% for navbar in navbar_trees.descendants recursive %}
    {# 每進一個遞迴就會讓 loop.first 為 True #}
    {% if loop.first %}
      <ul class="list-group">
    {% endif %}
  {# 這是分隔線，只有分隔線的樣式要特別處理 #}
  {% if navbar.type == 3 %}
    {% if use_link and navbar.id != -1 %}
      <li class="my-1"><a href="#">{{ navbar.name }}</a>
    {% else %}
      {# 最新消息的分隔線不需超連結 #}
      <li class="my-1">{{ navbar.name }}
    {% endif %}
  {% else %}
    {% if navbar.type == 5 %}
      <li class="list-group-item">{{ navbar.name }}
    {% elif navbar.type == 6 %}
      <li class="list-group-item">顯示全部
    {% else %}
      {% if use_link %}
        <li class="list-group-item" data-value="{{ navbar.id }}"><a href="#"{% if navbar.is_href_blank %} target="_blank" rel="noopener noreferrer" title="{{ navbar.name }} (另開新視窗)" aria-label="{{ navbar.name }} (另開新視窗)"{% endif %}>{% if navbar.icon %}<i class="bi {{ navbar.icon }}" aria-hidden="true"></i> {% endif %}{{ navbar.name }}{% if navbar.is_href_blank %} <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>{% endif %}</a>
      {% else %}
        <li class="list-group-item" data-value="{{ navbar.id }}">{{ navbar.name }}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if navbar.descendants %}
    {{ loop(navbar.descendants) }}
  {% endif %}
  </li>
  {% if loop.last %}
    </ul>
  {% endif %}
  {% endfor %}
  </li>
  </ul>
{% endmacro %}


{% macro generate_group_trees(name, group_trees, use_link=True) %}
  <ul class="list-group" id="root-group" data-name="{{ name }}">
  <li class="list-group-item" data-value="{{ group_trees.id }}">{{ group_trees.name }}
  {% for group in group_trees.descendants recursive %}
    {% if loop.first %}
      <ul class="list-group">
    {% endif %}
    <li class="list-group-item" data-value="{{ group.id }}">
      {% if use_link %}
        <div class="d-flex flex-wrap">
          <div>
            {{ group.name }}
            <span class="badge badge-info">
              {% if group.type == GroupType.ADMIN %}
                管理群組
              {% elif group.type == GroupType.STAFF %}
                行政群組
              {% else %}
                一般群組
              {% endif %}
            </span>
            {% if group.inheritance == GroupType.ADMIN %}
              <span class="badge badge-danger">繼承：管理權限</span>
            {% elif group.type == GroupType.STAFF %}
              <span class="badge badge-primary">繼承：行政權限</span>
            {% else %}
              <span class="badge badge-success">繼承：一般權限</span>
            {% endif %}
            {% for each_email in group.email %}
              {% if each_email.type == EmailType.GROUP_PRIMARY.value %}
                <span class="badge badge-light">主要 Email：{{ each_email.address }}</span>
              {% elif each_email.type == EmailType.GROUP_SECONDARY.value %}
                <span class="badge badge-light">次要 Email：{{ each_email.address }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="ml-auto d-flex">
            {% if group.id > 2 %}
              {# 如果是內建根群組/內建管理者群組，則不該顯示編輯與刪除按鈕 #}
              <div><a href="{{ request.route_url('backend_group_edit', group_id=group.id) }}" class="btn btn-sm btn-primary">編輯</a></div>
              <div><a href="{{ request.route_url('backend_group_delete', group_id=group.id) }}" class="btn btn-sm btn-danger">刪除</a></div>
            {% endif %}
          </div>
        </div>
      {% else %}
        {{ group.name }}
      {% endif %}
      {% if group.descendants %}
        {{ loop(group.descendants) }}
      {% endif %}
    </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  </li>
  </ul>
{% endmacro %}
