.footer-bg {
  background-color: #f8fdff;
}

.jumbotron-bg {
  background-size: cover;
  background-position: center center;
}

.search-btn-icon {
  border-radius: 0px;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
    color: white;
}
