{% extends 'layouts/master.jinja2' %}
{% from 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="jumbotron jumbotron-fluid mb-3 p-2 links-title-band">
  <div class="container">
    <h1 class="display-5 text-center text-white"><i class="bi bi-link-45deg" aria-hidden="true"></i> 好站連結</h1>
  </div>
</div>
<div class="container">
  <div class="row text-center align-items-center">
    {% for each_category in link_category_list %}
      <div class="col">
        <div class="card">
          <div class="card-header">
            {{ each_category.name }}
          </div>
          <div class="card-body d-flex flex-wrap align-items-center">
            {% for each_link in each_category.links %}
              <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="{{ each_link.url }}" target="_blank" rel="noopener noreferrer" title="{{ each_link.title }} (另開新視窗)" aria-label="{{ each_link.title }} (另開新視窗)">
                {% if each_link.icon %}
                  <img src="{{ request.static_path('yascms:uploads/links/' ~ each_link.icon) }}" class="img-fluid img-thumbnail align-middle" alt="{{ each_link.title }}">
                {% else %}
                  <div class="col border">{{ each_link.title }}</div>
                {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
