{% extends 'layouts/master.jinja2' %}
{% block page_css %}
  <style>
    p {
      margin-bottom: 0px;
    }
  </style>
{% endblock %}
{% block page_title %}{{ news.title }} | {{ news.category.name }} | {{ request.site_config['site_name'] }}{% endblock page_title %}
{% block page_meta_description %}{{ news.content|replace('\n', ' ') }}{% endblock page_meta_description %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ request.route_url('homepage') }}">首頁</a></li>
    <li class="breadcrumb-item"><a href="{{ request.route_url('news_list') }}">最新消息</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header h5">
          <div class="d-flex justify-content-between">
            <div>標題：{{ news.title }}</div>
            {% if news.is_pinned %}
              <div><i class="bi bi-pin text-primary"></i></div>
            {% endif %}
          </div>
          <div class="d-flex justify-content-between">
            <div>時間：{{ news.display_datetime.strftime('%Y-%m-%d %H:%M') }}</div>
            <div>發佈者：{{ news.group.name }}</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>類別：{{ news.category.name }}</div>
            <div>標籤：{{ news.tags|join(', ') }}</div>
          </div>
        </div>
        <div class="card-body">
          <span class="h5">
            {% if news.is_html %}
              {{ news.content|safe }}
            {% else %}
              {% autoescape false %}
              {{ news.content | linkify | replace('\n', '<br>') }}
              {% endautoescape %}
            {% endif %}
          </span>
        </div>
        {% if news.attachments %}
          <div class="card-footer">
            <div class="card">
              <div class="card-header">附件</div>
              <div class="card-body">
                <ul class="mb-0">
                  {% for each_attachment in news.attachments %}
                    <li><a href="{{ request.static_path('yascms:uploads/news/'
                                                    ~ news.display_datetime.strftime('%Y/%m/'))
                                                    ~ each_attachment.real_name }}">{{ each_attachment.original_name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
