{% extends 'layouts/master.jinja2' %}
{% from 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="jumbotron jumbotron-fluid mb-3 p-2 page-title-band">
  <div class="container">
    <h1 class="display-5 text-center text-white">{{ page.title }}</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{ page.content|safe }}
    </div>
    {% if page.attachments %}
      <div class="col-12">
        <div class="card">
	  <div class="card-header">附件</div>
          <div class="card-body">
            <ul class="mb-0">
              {% for each_attachment in page.attachments %}
	        <li><a href="{{ request.static_path('yascms:uploads/pages/' ~ each_attachment.real_name) }}" title="附件{{ each_attachment.original_name }}" aria-label="附件{{ each_attachment.original_name }}">{{ each_attachment.original_name }}</a></li>
	      {% endfor %}
	    </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
