{% extends 'layouts/master.jinja2' %}
{% from 'yascms:themes/' ~ request.effective_theme_name ~ '/macros.jinja2' import paginate with context %}
{% block content %}
<div class="jumbotron jumbotron-fluid mb-3 p-2" style="background-color: #2ecc71;">
  <div class="container">
    <p class="h1 display-5 text-center text-white"><i class="bi bi-telephone"></i> 常用分機</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for each_telext in telext_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-1">
        <a href="tel:02{{ request.site_config['site_phone'] }},{{ each_telext.ext }}" title="{{ each_telext.title }} 分機 {{ each_telext.ext }} (開啟電話 App 撥打)" class="btn btn-outline-success btn-lg btn-block">{{ each_telext.title }} ({{ each_telext.ext }})</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
