<footer id="page-footer" class="footer-bg mt-3 p-1" tabindex="-1" aria-label="頁面尾端功能區塊">
  <a class="accesskey-marker" href="#page-footer" accesskey="Z" title="Alt+Z：頁面尾端功能區塊。">:::</a>
  <div class="container">
    <div class="row">
      <div class="col py-3">
        <p><a href="tel:+886-2-{{ request.site_config['site_phone'] }}" title="聯絡電話：{{ request.site_config['site_phone'] }} (開啟電話 App 撥打)"><i class="bi bi-telephone"></i> 聯絡電話：{{ request.site_config['site_phone'] }}</a></p>
        <p><i class="bi bi-telephone-fill"></i> 傳真電話：{{ request.site_config['site_fax'] }}</p>
        <p><a href="mailto:{{ request.site_config['site_email'] }}" title="學校信箱：{{ request.site_config['site_email'] }} (開啟 Email App 撰寫)"><i class="bi bi-envelope"></i> 學校信箱：{{ request.site_config['site_email'] }}</a></p>
        {% if request.site_config['site_map_url'] %}
          <address><a href="{{ request.site_config['site_map_url'] }}" target="_blank" title="學校地址：{{ request.site_config['site_zip'] }} {{ request.site_config['site_address'] }} (另開新視窗)"><i class="bi bi-map"></i> 學校地址：{{ request.site_config['site_zip'] }} {{ request.site_config['site_address'] }}</a></address>
        {% endif %}
      </div>
      <div class="col d-none d-sm-block">
        <a href="{{ request.site_config['site_map_url'] }}" target="_blank" title="Google Map 地址：{{ request.site_config['site_zip'] }} {{ request.site_config['site_address'] }} (另開新視窗)"><img class="img-fluid" alt="臺北市中山區濱江國小 Google 地圖" src="/google_map.png"></a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col text-center">© 2019-2021 {{ request.site_config['site_name'] }}</div>
    </div>
  </div>
</footer>
