{% extends 'yascms:themes/' ~ request.current_theme_name ~ '/layouts/master.jinja2' %}
{% block layout_css %}
  <link rel="stylesheet" href="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/css/bootstrap-icons-1.13.1/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/css/frontend.css') }}">
  <style>
    .jumbotron-bg {
      background-image: url("{{ request.banner }}");
    }
    {% if request.current_theme_config['settings']['custom_css']['visible'] %}
      {{ request.current_theme_config['settings']['custom_css']['value']|safe }}
    {% endif %}
  </style>
{% endblock layout_css %}
{% block navbar %}{% include "navbar.jinja2" %}{% endblock navbar %}
{% block banner %}
<div class="jumbotron jumbotron-fluid jumbotron-bg my-0">
  <div class="container">
    <div class="p-2 text-white">
      <h1 class="display-4 d-md-block d-sm-none d-none">{{ request.site_config['site_name'] }}</h1>
      <p class="lead">{{ request.site_config['site_slogan'] }}</p>
    </div>
  </div>
</div>
{% endblock banner %}
{% block footer %}{% include "footer.jinja2" %}{% endblock footer%}
{% block layout_js %}
  <script src="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/js/jquery.smartmenus-1.2.1.min.js') }}"></script>
  <script src="{{ request.static_path('yascms:static/' ~ request.effective_theme_name ~ '/js/jquery.smartmenus.bootstrap-4-1.2.1.min.js') }}"></script>
  {% if request.current_theme_config['settings']['custom_js']['visible'] %}
    <script>{{ request.current_theme_config['settings']['custom_js']['value']|safe }}</script>
  {% endif %}
{% endblock layout_js %}
