<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-custom">
  <a class="navbar-brand d-flex flex-column align-items-center mx-auto" href="{{ request.route_url('homepage') }}"><img class="w-75 d-lg-block d-none" src="{{ 'yascms:webroot/logo.png'|static_path }}" alt="網站 logo">{{ request.site_config['site_name'] }}</a>
  <div class="navbar-min-width"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav flex-column" data-sm-options='{"noMouseOver": true}'>
      {% for navbar in navbar_trees['descendants'] recursive %}
        {# 有子選單的類型 #}
        {% if navbar.type == NavbarType.TREE_NODE or navbar.type == NavbarType.BUILTIN_NEWS %}
          {% if loop.depth == 1 %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_{{ navbar.aria_name }}_dropdown" aria-haspopup="true" aria-expanded="false">
          {% else %}
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false">
          {% endif %}
          {% if navbar.icon -%}
            <i class="bi {{ navbar.icon }}"></i> {{ navbar.name }}
          {% else %}
                {{ navbar.name }}
          {%- endif %}
              </a>
            <ul class="dropdown-menu" aria-labelledby="navbar_{{ navbar.aria_name }}_dropdown">
              {% if navbar.type == NavbarType.TREE_NODE %}
                {{ loop(navbar.descendants) }}
              {% elif navbar.type == NavbarType.BUILTIN_NEWS %}
                {% for each_news_submenu in navbar.descendants %}
                  {# 最新消息底下的每個分類連結 #}
                  {% if each_news_submenu.type == NavbarType.BUILTIN_NEWS_SUBTYPE %}
                    <li><a class="dropdown-item" href="{{ request.route_url('news_list', _query={'c': each_news_submenu.category_id}) }}">{{ each_news_submenu.name }}</a></li>
                  {% elif each_news_submenu.type == 3 %}
                    <li class="dropdown-divider"></li>
                  {% elif each_news_submenu.type == 6 %}
                    <li><a class="dropdown-item" href="{{ request.route_url('news_list') }}">顯示全部</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        {% elif navbar.type in (NavbarType.LEAF_NODE, NavbarType.BUILTIN_TELEXT, NavbarType.BUILTIN_LINKS) %}
          {% if loop.depth == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{ navbar.url }}"{% if navbar.is_href_blank %} target="_blank" title="{{ navbar.name }} (另開新視窗)"{% endif %}>
                {% if navbar.icon %}<i class="bi {{ navbar.icon }}"></i> {% endif %}{{ navbar.name }}{% if navbar.is_href_blank %} <i class="bi bi-box-arrow-up-right"></i>{% endif %}
              </a>
          {% else %}
            <li>
              <a class="dropdown-item" href="{{ navbar.url }}"{% if navbar.is_href_blank %} target="_blank" title="{{ navbar.name }} (另開新視窗)"{% endif %}>
                {% if navbar.icon %}<i class="bi {{ navbar.icon }}"></i> {% endif %}{{ navbar.name }}{% if navbar.is_href_blank %} <i class="bi bi-box-arrow-up-right"></i>{% endif %}
              </a>
          {% endif %}
            </li>
        {% elif navbar.type == NavbarType.DROPDOWN_DIVIDER %}
          <li class="dropdown-divider"></li>
        {% endif %}
      {% endfor %}
      {% if request.session['account'] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-fill"></i>
            {{ request.session['first_name']}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
            <li><a class="dropdown-item" href="{{ request.route_url('backend_homepage') }}"><i class="bi bi-gear"></i> 後台管理</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ 'logout'|route_path }}"><i class="bi bi-box-arrow-left"></i> 登出</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ 'login'|route_path }}"><i class="bi bi-box-arrow-in-right"></i> 登入</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ 'search_results'|route_path }}" method="get">
      <input type="hidden" name="key" value="content">
      <div class="input-group">
        <input class="form-control py-2" type="text" id="search-text" name="value" title="search-content">
        <span class="input-group-append bg-white">
          <input type="submit" value="搜尋" class="btn border-0 search-btn-icon">
        </span>
      </div>
    </form>
  </div>
</nav>
