<nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-lg-3">
  <a class="navbar-brand mx-auto" href="{{ request.route_url('backend_homepage') }}">{{ request.site_config['site_name'] }}<br>後台管理</a>
  <div class="navbar-min-width"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-column" data-sm-options='{"noMouseOver": true}'>
      {% if request.session['is_admin'] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarSystemConfigDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-gear-wide-connected" aria-hidden="true"></i> 系統設定
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarSystemConfigDropdown">
            <li><a class="dropdown-item" href="{{ request.route_url('backend_site_config_edit') }}">網站設定</a></li>
            <li><a class="dropdown-item" href="{{ request.route_url('backend_api_token_list') }}">API 金鑰設定</a></li>
            <li><a class="dropdown-item" href="{{ request.route_url('backend_oauth2_integration_list') }}">OAuth2 登入整合設定</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarThemeConfigDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-layout-text-sidebar" aria-hidden="true"></i> 樣板管理
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarThemeConfigDropdown">
            <li><a class="dropdown-item" href="{{ request.route_url('backend_theme_config_list') }}">樣板列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_url('backend_theme_config_upload') }}">上傳樣板</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person" aria-hidden="true"></i> 使用者管理
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarUserDropdown">
            <li><a class="dropdown-item" href="{{ request.route_path('backend_user_list') }}">使用者列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_path('backend_user_create') }}">建立使用者</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarGroupDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-people-fill" aria-hidden="true"></i> 群組管理
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarGroupDropdown">
            <li><a class="dropdown-item" href="{{ request.route_path('backend_group_list') }}">群組列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_path('backend_group_create') }}">建立群組</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarNavbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-menu-button-wide" aria-hidden="true"></i> 導覽列管理
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarNavbarDropdown">
            <li><a class="dropdown-item" href="{{ request.route_path('backend_navbar_list') }}">導覽列列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_path('backend_navbar_create') }}">建立導覽列</a></li>
          </ul>
        </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarNewsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-megaphone" aria-hidden="true"></i> 最新消息
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarNewsDropdown">
          <li><a class="dropdown-item" href="{{ request.route_url('backend_news_create') }}">建立最新消息</a></li>
          <li><a class="dropdown-item" href="{{ request.route_url('backend_news_list') }}">最新消息列表</a></li>
          {% if request.session['is_admin'] %}
            <li><a class="dropdown-item" href="{{ request.route_url('backend_news_category_list') }}">最新消息分類列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_url('backend_news_category_create') }}">建立最新消息分類</a></li>
          {% endif %}
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarPageDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-card-text" aria-hidden="true"></i> 單一頁面
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarPageDropdown">
          <li><a class="dropdown-item" href="{{ request.route_url('backend_page_list') }}">單一頁面列表</a></li>
          {% if request.session['is_admin'] %}
            <li><a class="dropdown-item" href="{{ request.route_url('backend_page_create') }}">建立單一頁面</a></li>
          {% endif %}
        </ul>
      </li>
      {% if request.session['is_admin'] %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTelExtDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-telephone" aria-hidden="true"></i> 分機表
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarTelExtDropdown">
          <li><a class="dropdown-item" href="{{ request.route_url('backend_telext_list') }}">分機列表</a></li>
          <li><a class="dropdown-item" href="{{ request.route_url('backend_telext_create') }}">建立分機</a></li>
        </ul>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLinkDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-link-45deg" aria-hidden="true"></i> 好站連結
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarLinkDropdown">
          <li><a class="dropdown-item" href="{{ request.route_url('backend_link_list') }}">好站連結列表</a></li>
          <li><a class="dropdown-item" href="{{ request.route_url('backend_link_create') }}">建立好站連結</a></li>
          {% if request.session['is_admin'] %}
            <li><a class="dropdown-item" href="{{ request.route_url('backend_link_category_list') }}">好站連結分類列表</a></li>
            <li><a class="dropdown-item" href="{{ request.route_url('backend_link_category_create') }}">建立好站連結分類</a></li>
          {% endif %}
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAuthLogsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-camera-video" aria-hidden="true"></i> 登出入紀錄
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarTagsDropdown">
          {% if request.session['is_admin'] %}
            <li><a class="dropdown-item" href="{{ request.route_url('backend_auth_log_list') }}">所有帳號</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{{ request.route_url('backend_auth_log_list', _query={'u': request.session['user_id']}) }}">{{ request.session['account'] }}</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person" aria-hidden="true"></i>
          {{ request.session['first_name']}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
          <li><a class="dropdown-item" href="{{ request.route_url('backend_user_self_edit') }}">帳號設定</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{ request.route_url('homepage') }}">回到前台</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{ 'logout'|route_path }}">登出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
